---
version: 3
build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--pre'
images:
  base_image:
    # This points to latest AAP 2.6 minimal image
    name: image-registry.openshift-image-registry.svc:5000/ci-rh1-ee/ee-minimal-rhel9

options:
  package_manager_path: /usr/bin/microdnf
dependencies:
  exclude:
    system:
      - openshift-clients
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  galaxy: requirements.yml
  system:
    - pkg-config [platform:rpm]
    - systemd-devel [platform:rpm]
    - gcc [platform:rpm]
    - python3.11-devel [platform:rpm]
  # system: bindep.txt

additional_build_steps:
  prepend_galaxy:
    - ARG ANSIBLE_GALAXY_SERVER_LIST
    - ARG ANSIBLE_GALAXY_SERVER_PUBLISHED_URL
    - ARG ANSIBLE_GALAXY_SERVER_PUBLISHED_TOKEN
    - ARG ANSIBLE_GALAXY_SERVER_VALIDATED_URL
    - ARG ANSIBLE_GALAXY_SERVER_VALIDATED_TOKEN
    - ARG ANSIBLE_GALAXY_SERVER_CERTIFIED_URL
    - ARG ANSIBLE_GALAXY_SERVER_CERTIFIED_TOKEN
    - ARG ANSIBLE_GALAXY_SERVER_COMMUNITY_URL
    - ARG ANSIBLE_GALAXY_SERVER_COMMUNITY_TOKEN
  append_final: |
    RUN ansible-galaxy collection list
