---
version: 3
build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--pre'
images:
  base_image:
    name: image-registry.openshift-image-registry.svc:5000/ee-builder-ci/ee-minimal-rhel9
options:
  package_manager_path: /usr/bin/microdnf
dependencies:
  python_interpreter:
    package_system: python3.12
    python_path: /usr/bin/python3.12
  ansible_core:
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  galaxy: requirements.yml
  # python: requirements.txt
  # system: bindep.txt

additional_build_steps:
  prepend_galaxy:
    - ARG ANISBLE_GALAXY_SERVER_LIST
    - ARG ANISBLE_GALAXY_SERVER_CERTIFIED_URL
    - ARG ANISBLE_GALAXY_SERVER_CERTIFIED_AUTH_URL
    - ARG ANISBLE_GALAXY_SERVER_CERTIFIED_TOKEN
    - ARG ANISBLE_GALAXY_SERVER_VALIDATED_URL
    - ARG ANISBLE_GALAXY_SERVER_VALIDATED_AUTH_URL
    - ARG ANISBLE_GALAXY_SERVER_VALIDATED_TOKEN
    - ARG ANISBLE_GALAXY_SERVER_COMMUNITY_URL

  append_final: |
    RUN ansible-galaxy collection list